.listItem {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.listItem_artwork {
  width: 100%;
}

.listItem_info {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
}

.listItem_basicInfo {
  text-align: center;
}

.listItem_trackName {
  font-size: 20px;
  color: #80CBC4;
}

.listItem_artistName {
  font-size: 16px;
  color: #80CBC4;
}

.listItem_expandedInfo {
  transition: all 0.2s ease;
  max-height: 0px;
  padding-top: 5px;
  font-weight: 400;
  overflow: hidden;
}

.listItem:hover .listItem_expandedInfo {
  max-height: 200px;
}
