body {
    background-color: #303030;
}

.header {
  position: relative;
  background-color: #212121;
  color: #fff;
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  height: 70px;
  line-height: 80px;
  box-shadow: 0px 10px 5px 0px #212121;
  z-index: 1;
}

.mainbody{
   position: absolute;
   background-color: #303030;
   top: 80px; /* Header Height */
   bottom: 0px; /* Footer Height */
   width: 100%;
}
