.searchBar {
  width: 692px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 35px;
  font-size: 18px;
  margin: auto;
}

.search_button {
  color: #80CBC4;
  font-weight: 600;
  margin-left: 25px;
}

.search_input {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  width: 600px;
  caret-color: #80cbc4;
  border-bottom: solid 3px #80CBC4;
}

.search_sort {
  text-align: center;
  color: #80cbc4;
  font-size: 15px;
  margin-top: 10px;
}

.sort_select {
  background: #303030;
  color: white;
  outline: none;
  border: none;

}


@media (max-width: 1225px) {
  .searchBar {
    width: 412px;
    padding-bottom: 25px;
  }

  .search_input {
    width: 320px;
  }

  .search_line img{
    width: 320px;
  }
}
