.player-header {
  position: relative;
  background-color: #212121;
  color: #fff;
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  height: 70px;
  line-height: 80px;
  box-shadow: 0px 10px 5px 0px #212121;
  z-index: 1;
}

.player-header_back {
  position: absolute;
  left: 26px;
  top: 1px;
}

.player-mainbody {
  background-color: #303030;
  bottom: 0px; /* Footer Height */
  width: 480px;
  margin: auto;
  margin-top: 90px;
  position: relative;
}

.player-info {
  display: block;
  position: absolute;
  top: -78px;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
  text-align: center;

}

.player-trackName {
  font-size: 20px;
  color: #80CBC4;
}

.player-artistName {
  font-size: 16px;
  color: #80CBC4;
}

.player-audio {
  width: 480px;
  opacity: .5;
  margin-top: -83px;
  background-color: #F0F3F4;
}

.player-controls {
  color: white;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 426px;
}

.player-control_button {
  transition: all 0.2s ease;
  height: 426px;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  width: 40px;
  cursor: pointer;
}

.player-control_button:hover {
  width: 100px;
}

.player-control_label {
  transition: all 0.2s ease;
  margin: 0 auto;
  transform: scale(2, 6);
}

.player-control_button:hover .player-control_label {
  transform: scale(5, 15);
}

.player-control_prev {
  text-align: center;
}

.player-control_next {

}
